select {
  margin-bottom: 1em;
  cursor: pointer;
}
label {
  font-weight: bold;
}
#first_screen {
  padding: 3vh 4px 0 4px;
  display: none;
  overflow: hidden;
  height: 100vh;
}
.screen {
  background: floralwhite;
  padding-: 1em;
}
.row>* {
  padding: 0;
}
