body {
  background-: red;
  width: 100vw !important;
  height: 100vh !important;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html, body {
  margin: 0 !important;
  padding: 0 !important;
  background-: floralwhite;
  background: #e3e3e3; /*linen;*/
}

#third_screen p, #third_screen h2, #third_screen h3, #third_screen h4 {
  padding: 0 20px !important;
  line-height: 1.5em !important;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  margin-top: 20px;
}
h3 {
  font-size: 1.17em;
}
p {
  margin: 0 0 0.5em 0;
}
h3 {
  margin: 0.8em 0 0.4em 0;
}

.canvas {
  position: absolute;
  top: 0;
  z-index: 198;
  object-fit: fill;
  height: 100vh;
  width: 100%;
}
.form {
  padding: 20px;
}
#ad {
  height: 100vh;
  width-: 100vw;
  margin: 0;
  padding: 0;
  background-: no-repeat center url(img/nike.jpg);
  background-size: auto 100% !important;
  visibility: hidden;
}

.nanobar {
  width: 100%;
  height: 2px;
  z-index: 9999;
  top:0;
  background: transparent;
}
.bar {
  background: url('nanobar/img/rainbow.gif') 100%;
  height: 2px;
  filter: blur(0.5px);
}

.swiper-outer, .swiper-inner {
  width-: 100vw;
  height: 100vh;
  overflow: hidden;
}
.swiper-button-prev, .swiper-button-next {
  display: none;
}
.non-white-bg {
  background: floralwhite;
}

.swiper-pagination {
  background-: rgba(255, 255, 255, 0.6) !important;
  border-radius: 20px;
  z-index: 200;
  backdrop-filter: blur(15px) contrast(80%) brightness(150%);
  -webkit-backdrop-filter: blur(15px) contrast(80%) brightness(150%);
}
.swiper-pagination-vertical {
  padding: 0px 5px;
  top: calc(50% + 10px) !important;
}
.swiper-pagination-horizontal {
  display: flex;
  padding: 5px 4px 0;
  width: auto !important;
  height: 18px;
  left: 50% !important;
  transform: translate(-50%,-50%);
  bottom: 0px !important;
  z-index: 100;
}
.swiper-pagination-horizontal .swiper-pagination-bullet {
  margin: 0 3px !important;
}

#flipdown {
  position-: absolute;
  transform-: translate(-50%, -50%);
  top-: 43%;
  left-: 50%;
  backface-visibility-: hidden;
  width-: max-content;
  scale-: 0.8;
  margin-left: -12px;
  scale: 0.8;
  width-: max-content !important;
  display: none;
}
#flipdown_header {
  position: absolute;
  top: calc(45% - 95px);
  width: 100%;
  display-: none;
  padding: 0;
}
#flipdown_explain {
  position: absolute;
  top: calc(45% + 50px);
  width: 100%;
}
#flipdown_explain p {
  padding: 0 15% !important;
  font-size-: 0.85em;
  color-: gray;
}

.swiper-transition {
  .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }
}

#js-canvas-explain {
  z-index: 150;
  position: absolute;
  padding-: 0;
  color: #424242;
  display: none;
  left: 50%;
  top: 5%;
  transform: translate(-50%,0%);
  width: 100%;
  text-align: center;
}
.center {
  text-align: center;
}

.conditions {
  font-weight: bold;
  color: black;
}
#confirm {
  position: absolute;
  width: 100%;
  top: calc(40% - 140px);
}

.status {
  padding: 2px 6px;
  border-radius: 5px;
  margin: 0 7px 0 3px;
}
.status.ongoing {
  border: 1px solid gray;
}
.status.processing {
  background: darkseagreen;
}
.status.lost {
  background: deepskyblue;
}
.status.won {
  background: limegreen;
}
.status.not {
  background: orangered;
}

.animate {
  opacity: 0;
  transition: opacity 1s linear;
}

.list-, #mini_app_settings {
  overflow-y: auto;
}

#chart-wrapper {
  padding: 0 5% 5% 5%;
}
#hidden-history {
  display: none;
}

#chart-stats {
  max-width: 430px;
  max-height: 430px;
  display: none;
}
.stats-clarify {
  margin-bottom-: 1.5em;
  margin-bottom: 0;
}

.modal-backdrop {
  z-index: 0;
}
.modal {
  margin-top-: 9vh;
  height-: calc(100vh - 9vh - 36px);
}
.modal-dialog {
  margin: 0;
  height: 100%;
}
.modal-content {
  border-radius: 0;
  border: 0px;
  background-color: floralwhite;
}
.modal-body {
  padding: 0 20px 50px 20px;
}

.h-offset {
  margin: 11vh 0px 1em 0px;
}

#ad_marker {
  position: absolute;
  z-index: 197;
  top-: 50px;
  bottom-: 64px;
  bottom: 40px;
  text-align: center;
  color: white;
  border: 0px solid;
  background: transparent;
  left: 50%;
  left-: 2%;
  right-: 100px;
  padding: 6px 12px 6px 12px;
  border-radius: 15px;
  font-family: system-ui;
  font-weight: 600;
  font-size: 0.8em;
  transform: translate(-50%, 50%);
  backdrop-filter: blur(15px) contrast(80%) brightness(150%);
  -webkit-backdrop-filter: blur(15px) contrast(80%) brightness(150%);
}

.dropup .dropdown-toggle::after {
  display: none;
}

#ad_explain {
  position: absolute;
  color-: white;
  z-index: 198;
  bottom-: 80px;
  bottom: 55px;
  text-align: center;
  width: 100%;
  padding: 0 5%;
  font-size: 0.85em;
  visibility: visible;
  height-: 50vh;
  overflow-y-: scroll;
  background: #003b96;
  background: transparent;
}

#third_screen {
  display: none;
}

#js-container {
  background: floralwhite;
}

#mini_app_settings {
  padding: 15px 20px !important;
}


.address {
  color: darkgray;
  font-size: 0.9em;
}
ul {
  list-style-type: none;
  padding: 0 20px;
}
li {
  margin-bottom: 0.5em;
}
ul label {
  font-weight: normal;
}

h4 {
  font-size: 1.1em;
  margin-top: 1em;
}
.section {
  margin-bottom-: 2.5em;
}

#accordionExample {
  padding: 10px 20px;
  margin-bottom: 3em;
}
#third_screen h2.accordion-header {
  padding: 0 0 !important;
  margin-top: 0;
}
#third_screen p.accordion-body {
  padding: 0 0 !important;
}
.accordion-body {
  padding: 15px 0;
  padding-top: 1px;
}
.accordion-button {
  padding: 5px 20px;
}

.accordion-button-, .accordion-body {
  background: floralwhite;
}

#tg_only {
  display: none;
  padding: 20px 0;
}
#third_screen p.transfer-data-hint {
  margin: 10px 20px;
  padding: 5px 10px !important;
  border-radius: 5px;
  border: 1px solid gray;
  background: cornsilk;
}

.available, .preparing, .not-available {
  border-radius: 5px;
  padding: 0 4px 0 5px;
}
.available {
  background: limegreen;
}
.preparing {
  background: gold;
}
.available > .address, .preparing > .address, .not-available > .address {
  color: black;
}
.not-available {
  background: lightgray;
}

.congrats {
  font-size: 0.85em;
}

#rating_header, #rating_intro {
  display: none;
}

.btn-outline-success {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #32cd32;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #32cd32;
  --bs-btn-active-border-color: #32cd32;
}

#toggle-sound {
  visibility: hidden;
  margin-top: 5px;
}

#chances_to_win_container {
  border-: 1px solid gray;
  background: antiquewhite;
  border-radius: 8px;
  margin: 0 20px;
  height: 32px;
}
#chances_to_win_bar {
  border-radius: 7px 0 0 7px;
  height: 32px;
  width: 50%;
  background: limegreen;
}
#chances_to_win_explain {
  margin-top: 10px;
}

li.nav-item {
  margin-bottom: unset;
}
.nav-pills {
  margin: 0 20px;
}
.nav-pills .nav-link.active {
  background-color-: unset;
}