#second_screen, #second_screen_explain {
  display: none;
}

#second_screen {
  overflow: hidden;
  height: 100vh;
}
.brand {
  float: left;
}
.brand.mk, .brand.lenta {
  width: 33.33vw;
  filter: brightness(3) grayscale(1);
}
#second_screen_explain {
  position: absolute;
  top: 75%;
  left: 0;
  text-align: center;
  width: 100%;
  height: -webkit-fill-available;
  background: floralwhite;
  padding-top: 5%;
}
