#second_screen, #second_screen_explain {
  display: none;
}

#second_screen {
  overflow: hidden;
  height: 100vh;
  text-align: center;
  padding-top: 10vh;
}
.brand {
  float-: left;
}
.brand.mk, .brand.lenta {
  width: 50vw;
  filter: brightness(3) grayscale(1);
  margin-bottom: 5px;
}
/*
#second_screen_explain {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: floralwhite;
  padding-top: 5%;
  padding-bottom: 5%;
}
*/